<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}}Especie</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="espeNombre">
        <span class="form-text text-danger" *ngIf="validaForm('espeNombre')">Ingrese nombre</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Observacion</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="espeObservacion">
        <span class="form-text text-danger" *ngIf="validaForm('espeObservacion')">Ingrese observacion</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Lugar de rescate</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="espeLugarRescate">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Fecha Rescate</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="espeFecha">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" *ngIf="title === 'Nueva'" class="btn btn-primary" (click)="save(formGroup.value)">Guardar</button>
  <button type="button" *ngIf="title === 'Modificar'" class="btn btn-primary" (click)="update(formGroup.value)">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Cancelar</button>
</div>
<div class="container">
  <div class="row align-items-md-center">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/paimon-1/sticker_10.png?4719dfd4ead6e5b35d544e7fa0421023&d=200x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">AGREGA UNA ESPECIE</h5>
  </div>
</div>
</div>
</div>
